.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.about-child {
  flex: 1;
  width: 1.8rem;
}  

#blurb {
  width: 85%;
}

#headshot {
  width: 50%;
  float: right;
  width: auto;
  height: auto;
  margin-right: 100px;
}