/* .card-container {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
} */

.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

}

.card {
  flex: 25%;
  max-width: 25%;
  padding: 15px 5px;
}

.card-img {
  padding: 20px;
  border: 4px double green;
  width: 300px;
  height: 335px; 
}

#logo {
  width: auto;
} 


/* .card {
  width: 275px;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
} */

.card-img-container {
  position: relative;
  width: 88%;
}

.card-content:hover .card-description {
  opacity: 0.7;
  visibility: visible;
}

.card-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: silver;
  color: black;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 100px;
}

.card-description > h1 {
  color: red;
  font-weight: bold;
}

.card-description > p {
  color: green;
}


.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: 1.2rem;
}

