.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card-content {
  margin: 20px;
}

.card-img {
  padding: 10px;
  border: 3px double white;
  border-radius: 5px;
  width: 300px;
  height: 335px; 
}

.card-img-container {
  position: relative;
  width: 100%;
}

.card-content:hover .card-description {
  opacity: 0.90;
  visibility: visible;
}

.card-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: silver;
  color: black;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding: 100px 10px 0px 10px;
}

.card-description > p {
  color: black;
}

.card > a {
  text-decoration: none;
}

.card h2 {
  margin: 10px 0;
  font-size: 2.0rem;
  color: green;
  font-weight: bold;
}

